{% extends 'main/index.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleLogin.css') }}">
{% endblock %}
{% block body %}
    {% block nav %}
        {{ parent() }}
        {% endblock %}
<form method="post">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <label for="inputUsername">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    {% if error %}
        {{ error.messageKey|trans(error.messageData, 'security') }}
    {% endif %}
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
            <span><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a></span>
        </div>
    <div class="mb-3">

    </div>

    <button class="btn btn-lg btn-primary" type="submit" >Se connecter</button>
    <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}">S'inscrire</a>
</form>
    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endfor %}
{% endblock %}
