{% extends 'main/index.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleRegister.css') }}">
{% endblock %}
{% block title %}Register{% endblock %}

{% block content %}

    {% block flashmessages %}
        {{ parent() }}
        {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
        {% endfor %}
    {% endblock %}
    {{ form_start(registrationForm) }}
    <div class="container">
        <div class="formulaire">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-8 col-sm-12 col-md-12 col-12">
                    <h1>S'enregistrer</h1>
                    <label for="username" id="username">Pseudo : </label>{{ form_widget(registrationForm.username)}}
                    <br>
                    <label for="email" id="labelEmail">E-Mail : </label>{{ form_widget(registrationForm.email) }} <br>
                    <label for="password" id="password">Mot de passe
                        : </label>{{ form_widget(registrationForm.plainPassword) }} <br>
                    <label for="confirmPassword" id="confirmPassword">Confirmez le mot de passe : </label> <br>
                    <input type="password" id="passwordConfirm" name="passwordconfirm" class="form-control"> <br>
                    {% for flashError in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    <label for="dateNaissance">Date de naissance
                        : </label> {{ form_widget(registrationForm.birthDate) }}<br>
                    <button type="submit" class="btn btn-primary" id="btn_send">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="emailUrl" value="{{ path('verify_email',{'email' : 'test'}) }}">
    <input type="hidden" id="usernameUrl" value="{{ path('verify_username',{'username' : 'test'}) }}">
    <script src="{{ asset('assets/js/script_register.js') }}"></script>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
