{% extends 'main/index.html.twig' %}

{% block title %}Question index{% endblock %}

{% block body %}
{% block nav %}
{{ parent()}}
{% endblock %}
    <div class="container">
        <h1 class="text-center">Question index</h1>
        <div class="table-responsive">
            <table class="table table-light table-striped me-md-3">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Intitulé</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.id }}</th>
                        <td>{{ question.label }}</td>
                        <td>
                            <a href="{{ path('question_show', {'id': question.id}) }}">Détails</a>
                            <a href="{{ path('question_edit', {'id': question.id}) }}">Modifier</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="3">Aucunes questions trouvées</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('question_new') }}">Create new</a>
    </div>

{% endblock %}
