{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Stalya !{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleMain.css') }}">
{% endblock %}
{% block body %}
<body id="body-pd">

<header class="header" id="header">
    <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    {% if app.user %}
        {% if app.user.discordId %}
            <div class="header_img"><img
                        src="https://cdn.discordapp.com/avatars/{{ app.user.discordId }}/{{ app.user.imgDiscord }}.gif"
                        alt=""></div>
        {% else %}
            <div class="header_img nav_logo_stalya"><img src="{{ asset('assets/img/stalya.png') }}" alt="profile_image">
            </div>
        {% endif %}
    {% else %}
        <div class="header_img"><a href=""></a></div>
    {% endif %}
</header>
<div class="l-navbar" id="nav-bar">
    <nav class="nav">
        <div><a href="#" class="nav_logo"> <img src="{{ asset('assets/img/stalya.png') }}" alt="logo Stalya"
                                                class="nav_logo_stalya"> <span class="nav_logo-name">Stalya</span></a>
            <div class="nav_list">
                <a href="/"
                   class="nav_link {% if app.request.attributes.get('_route') starts with 'main' %}active{% endif %}"
                   id="dashboard">
                    <i class='bx bx-grid-alt nav_icon'></i>
                    <span class="nav_name">Dashboard</span>
                </a>
                <a href="{{ path('user_profile') }}"
                   class="nav_link {% if app.request.attributes.get('_route') starts with 'user_profile' %}active{% endif %}"
                   id="manage_account">
                    <i class='bx bx-user nav_icon'></i>
                    <span class="nav_name">Gestion du compte</span>
                </a>
                <a href="{{ path('index_qcm') }}"
                   class="nav_link {% if app.request.attributes.get('_route') starts with 'qcm_main' %}active{% endif %}"
                   id="qcm">
                    <i class='bx bx-list-check nav_icon'></i>
                    <span class="nav_name">QCM</span>
                </a>
                {% if app.user %}
                    <a href="#"
                       class="nav_link {% if app.request.attributes.get('_route') starts with 'session' %}active{% endif %}"
                       id="session ">
                        <i class='bx bx-bookmark nav_icon'></i>
                        <span class="nav_name">Session</span>
                    </a>
                {% endif %}
                <a href="#" class="nav_link" id="informations">
                    <i class='bx bx-info-circle nav_icon'></i>
                    <span class="nav_name">Informations</span>
                </a>
                {% if app.user %}
                    {% if "ROLE_ADMIN" in app.user.roles %}
                        <a href="{{ path('admin') }}"
                           class="nav_link {% if app.request.attributes.get('_route') starts with 'admin' %}active{% endif %}"
                           id="administration">
                            <i class='bx bx-shield-alt-2 nav_icon'></i>
                            <span class="nav_name">Administration</span>
                        </a>
                        {% if app.request.attributes.get('_route') starts with 'admin' %}
                            <a href="{{ path('question_new') }}" class="nav_link" id="informations">
                                <i class='bx bx-question-mark nav_icon'></i>
                                <span class="nav_name">Créer une question</span>
                            </a>
                            <a href="{{ path('question_index') }}" class="nav_link nav_admin" id="informations">
                                <i class='bx bx-book-open nav_icon'></i>
                                <span class="nav_name">Liste des questions</span>
                            </a>
                            <a href="{{ path('admin_manage_account') }}" class="nav_link nav_admin" id="informations">
                                <i class='bx bxs-user nav_icon'></i>
                                <span class="nav_name">Gérer les utilisateurs</span>
                            </a>
                            <a href="{{ path('session_index') }}" class="nav_link nav_admin" id="informations">
                                <i class='bx bxs-group nav_icon'></i>
                                <span class="nav_name">Créer une session</span>
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </div>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="nav_link"> <i class='bx bx-power-off nav_icon'></i> <span
                        class="nav_name">Se déconnecter</span> </a>
        {% else %}
            <a href="{{ path('app_login') }}" class="nav_link"> <i class='bx bx-power-off nav_icon'></i> <span
                        class="nav_name">Se connecter</span> </a>
        {% endif %}

    </nav>
</div>
<!--Container Main start-->
<div class="height-100">
    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</div>
<!--Container Main end-->
{% endblock %}
{% block footer %}
    <footer>
        <div class="container-fluid">
            <div class="copyright">
                <span class="span_copyright "> © 2020 - 2021. Toutes les images sont la propriétée de Rockstar North, Take-Two Interactive. Ce site n'est en aucun cas affilié à Rockstar North, Take-Two Interactive®.</span>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/indexMenu.js') }}"></script>
{% endblock %}
    