{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur Stalya !{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleMain.css') }}">
{% endblock %}
{% block body %}
    {% for success in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ success }}</div>
    {% endfor %}
    {% block nav %}
        <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="container">
                    <div class="row ">
                        <nav class="navbar navbar-expand " id="navbarSupportedContent">
                            <div class="collapse justify-content-center navbar-collapse ">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{{ path('index_qcm') }}" class="nav-link">QCM</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">Informations</a>
                                    </li>
                                    {# Admin Access #}
                                    {% if is_granted("ROLE_ADMIN") %}
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" id="navbarDropdown"
                                               role="button" data-bs-toggle="dropdown" aria-haspopup="true"
                                               aria-expanded="false">
                                                Administration
                                            </a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a href="{{ path('question_new') }}" class="dropdown-item">Ajouter une
                                                    question</a>
                                                <a class="dropdown-item" href="{{ path('question_index') }}">Liste des questions</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#">Moyenne des réponses</a>
                                                <a class="dropdown-item" href="{{ path('reponses_new') }}">Ajouter une réponse</a>
                                                <a class="dropdown-item" href="{{ path('reponses_index') }}">Liste des réponses</a>
                                            </div>
                                        </li>
                                    {% endif %}
                                    {# If a user is connected #}
                                    {% if app.user %}
                                        <li class="nav-item">
                                            <a href="{{ path('app_logout') }}" class="nav-link">Se déconnecter</a>
                                        </li>
                                    {% endif %}
                                    {# {% if app.user.score > 15 %} #}
                                    {# <li class="nav-item"> #}
                                    {# <a href="#" class="nav-link">S'inscrire à une session</a> #}
                                    {# </li> #}
                                    {# {% endif %} #}
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock%}
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('assets/js/test.js') }}"></script>
    {% endblock %}
{% endblock %}
