{% extends 'main/index.html.twig' %}
{% block title %}Accueil QCM{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleIndexQcm.css') }}">
{% endblock %}

{% block content %}

    <div class="container fullPage">
        <div class="container">
            <h1 class="text-center mt-2"> QCM :</h1>
        </div>
        <div class="container fullPage">
            <div class="row">
                <p class="text-center mt-4" id="description_qcm"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus
                    beatae
                    blanditiis delectus dolores eaque, earum est harum ipsum laborum, libero nobis obcaecati omnis quae
                    quia
                    quidem, recusandae reiciendis sit ut!
                </p>
            </div>
            <div class="row justify-content-center">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" id="btn_launch_qcm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Commencer le qcm
                </button>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Êtes-vous sûr de lancer le qcm ?</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {% if  app.user.canParticipate() == false %}
                                    <p>
                                        Vous devez attendre avant de pouvoir retenter le qcm
                                        <br>
                                    </p>
                                    <p>
                                        <input id="remaining" type="hidden"
                                               value="{% if app.user.canParticipate %} 0 {% else %}{{ app.user.getLastAttempt|date_modify('+ 24 hours').format('d M Y H:i:s') }} {% endif %}">
                                        Temps restant : <span id="timer"></span>
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Non
                                        </button>
                                    </div>
                                {% else %}
                                    <p> En cliquant sur oui vous allez être redirigé vers le qcm.
                                        <br>
                                        En cas d'échec vous devrez attendre 24h pour retenter le qcm !
                                    </p>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger " data-bs-dismiss="modal">Non
                                        </button>
                                        <a class="btn btn-primary" href="{{ path('qcm_main') }}">
                                            Oui
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/script_qcm_index.js') }}"></script>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}
