{% extends 'main/index.html.twig' %}
{% block title %}Accueil QCM{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styleMainQcm.css') }}">
{% endblock %}

{% block content %}
    {% for warning in app.flashes('warning') %}
        <div class="alert alert-warning" role="alert">{{ warning }}</div>
    {% endfor %}
    <div class="container">
        <h1>QCM : </h1>
    </div>
    <div class="container">
        <p id="timer">

        </p>
        <form id="qcm_form" action="{{ path('qcm_main') }}" method="post">
            {% set i = 1 %}
            <input type="hidden" name="timer" id="input_timer" value="{{ timer ?? 99900 }}">
            {% for question in questions %}
                <ul>
                    {% if question.countCorrect() > 1 %}
                        <h4 id="title_question">Q.{{ i }} - {{ question.label }}  (contient plusieurs bonnes réponses)</h4>
                    {% else %}
                        <h4 id="title_question">Q.{{ i }} - {{ question.label }}</h4>
                    {% endif %}
                    {% for reponse in question.reponses %}
                        {% set checked = '' %}
                        {% if question.countCorrect() > 1 %}
                            {# checkbox #}
                            {% if answers['question_' ~  question.id  ~'_response_' ~  reponse.id ] is defined %}
                                {% set checked = 'checked' %}
                            {% endif %}
                            <div class="checkboxResp spacing_rep">
                                <input type="checkbox" name="question_{{ question.id }}_response_{{ reponse.id }}"
                                       id="question_{{ question.id }}_response_{{ reponse.id }}"
                                       class="checkbox_input" {{ checked }}>
                                <label for="question_{{ question.id }}_response_{{ reponse.id }}">
                                    &nbsp;&nbsp;{{ reponse.label }}
                                </label>
                            </div>
                        {% else %}
                            {# radiobutton #}
                            {% if answers['response_radio_' ~ question.id ] is defined and answers['response_radio_' ~ question.id] == reponse.id %}
                                {% set checked = 'checked' %}
                            {% endif %}

                            <div class="radioResp spacing_rep">
                                <input type="radio" name="response_radio_{{ question.id }}" value="{{ reponse.id }}"
                                       id="response_radio_{{ reponse.id }}" class="radio_input" {{ checked }}>
                                <label for="response_radio_{{ reponse.id }}">
                                     &nbsp; &nbsp;{{ reponse.label }}
                                </label>
                            </div>
                        {% endif %}
                    {% else %}
                        <span class="spacing_rep"> Cette question n'a pas de réponse</span>
                    {% endfor %}

                </ul>
                {% set i = i + 1  %}
            {% endfor %}
            <button type="submit" id="btn  btn-submit btn-primary">Envoyer</button>
        </form>
    </div>
    <script src="{{ asset('assets/js/script_qcm_main.js') }}"></script>
{% endblock %}
    {% block javascripts %}
        {{ parent() }}

    {% endblock %}