{% extends 'main/index.html.twig' %}

{% block title %}
Gestion des Comptes
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/manage_account.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <div class="container">
        <h1 class="text-center">Gestion de compte </h1>
        <form action="{{ path('admin_manage_account' ,{'page' : 1}) }}" method="get">
            <div class="nbUserPage">
                <h5>Afficher un nombre d'utilisateurs par page : </h5>
                <select name="nbPage" id="nbPage_users" onchange="submit()">
                    <option value="">Veuillez saisir le montant :</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
        </form>
        <label for="research_input">Recherche : </label>
        <input type="text" name="research" id="research_input" onkeyup="myFunction()" placeholder="Recherche par pseudo">
        <div class="table-responsive">
            <table class="table table-light table-striped me-md-3" id="myTable">
                <thead class="table-dark">
                <tr>
                    <th scope="col">Pseudo</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Rôle</th>
                    <th scope="col">Date de Naissance</th>
                    <th scope="col">Vérifié</th>
                    <th scope="col">Erreurs</th>
                    <th scope="col">Dernière tentative</th>
                    <th scope="col">IdDiscord</th>
                    <th scope="col">Discord</th>
                    <th scope="col">Supprimer</th>
                    <th scope="col">Upgrade</th>
                </tr>
                </thead>
                <tbody id="users_tab">

                {{ include('admin/_users_tab.html.twig', {'users': users}) }}

                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination justify-content-center">
    {% for i in 1..pagesCount %}
        <span>
            <a href="{{ path('admin_manage_account', {'page': i}) }}"
                {% if i == current %}
                    class="pagination_current"
                {% endif %}>
                {{ i }}
            </a>
        </span>
    {% endfor %}
    </div>
    <script>
        function myFunction() {
            // // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("research_input");
            filter = input.value
            table = document.getElementById('users_tab')
            $.ajax({
                type: 'POST',
                url: '{{ path('filter_users') }}',
                data: 'search='+filter,
                success: (data) => {
                    table.innerHTML = data
                },
                error : (data) => {

                },
            })
        }
    </script>

{% endblock %}


