{% extends 'main/index.html.twig' %}

{% block title %}
Gestion des Comptes
{% endblock %}
{% block stylesheets %}
{{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/manage_account.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block sectionTitle %}
    Gestion des utilisateurs
{% endblock %}

{% block content %}
    <div class="container">
        <form action="{{ path('admin_manage_account' ,{'page' : 1}) }}" method="get">
                <label for="nbPage_users" class="mt-5">Afficher un nombre d'utilisateurs par page : </label>
                <select name="nbPage" id="nbPage_users" onchange="submit()" class="py-1 px-1">
                    <option value="">Veuillez saisir le montant :</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="30">30</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
        </form>
        <br>
        <label for="research_input">Recherche : </label>
        <input type="text" name="research" id="research_input" onkeyup="myFunction()" placeholder="Recherche par pseudo">
        <div class="table-responsive py-4">
            <table class="table table-light table-striped table-bordered table-sm" id="myTable">
                <thead class="table-dark">
                <tr>
                    <th scope="col" class="text-center py-3">Pseudo</th>
                    <th scope="col" class="text-center py-3">E-mail</th>
                    <th scope="col" class="text-center py-3">Rôle</th>
                    <th scope="col" class="text-center py-3">Date de Naissance</th>
                    <th scope="col" class="text-center py-3">Vérifié</th>
                    <th scope="col" class="text-center py-3">Erreurs</th>
                    <th scope="col" class="text-center py-3">Dernière tentative</th>
                    <th scope="col" class="text-center py-3">IdDiscord</th>
                    <th scope="col" class="text-center py-3">Discord</th>
                    <th scope="col" class="text-center py-3">Supprimer</th>
                    <th scope="col" class="text-center py-3">Upgrade</th>
                </tr>
                </thead>
                <tbody id="users_tab">

                {{ include('admin/_users_tab.html.twig', {'users': users}) }}

                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination justify-content-center">
    {% for i in 1..pagesCount %}
        <span>
            <a href="{{ path('admin_manage_account', {'page': i}) }}"
                {% if i == current %}
                    class="pagination_current"
                {% endif %}>
                {{ i }}
            </a>
        </span>
    {% endfor %}
    </div>
    <script>
        function myFunction() {
            // // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("research_input");
            filter = input.value
            table = document.getElementById('users_tab')
            $.ajax({
                type: 'POST',
                url: '{{ path('filter_users') }}',
                data: 'search='+filter,
                success: (data) => {
                    table.innerHTML = data
                },
                error : (data) => {

                },
            })
        }
    </script>

{% endblock %}


