{% extends 'main/index.html.twig' %}

{% block title %}Liste des Sessions : {% endblock %}

{% block content %}
    <h1 class="text-center">Sessions disponibles </h1>
    {% for session in sessions %}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Session : </h5>
                <p class="card-text">Session disponible à {{ session.date|date('d M y H:i:s', 'Europe/Paris') }}</p>
                {% if session == app.user.session %}
                <a href="{{ path('session_revoke', {'id' : session.id}) }}" class="btn btn-primary"> Se désister </a>
                    {% else %}
                <a href="{{ path('session_inscription', {'id' : session.id}) }}" class="btn btn-primary">S'inscrire  ({{session.user|length ~ '/' ~  session.nbplace }} inscrits)</a>

                {% endif %}
                {% if "ROLE_ADMIN" in app.user.roles %}
                    <a href="{{ path('session_list_users',{'id' : session.id}) }}" class="btn btn-primary">Voir les utilisateurs</a>
                {% endif%}
            </div>
        </div>
    {% endfor %}
{% endblock %}