{% extends 'main/index.html.twig' %}

{% block title %}Session{% endblock %}

{% block content %}
    <a href="{{ path('session_index') }}"><i class='bx bx-left-arrow-alt arrow_back'></i></a>
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ session.date ? session.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nb_place</th>
                <td>{{ session.nbPlace }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('session_edit', {'id': session.id}) }}" class="btn btn_form">edit</a>

    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
