{% extends 'base.html.twig' %}

{% block title %}Gestion du profil {{ app.user.username }}{% endblock %}

{% block stylesheets%}
{{ parent() }}
{% endblock %}
{% block body %}
<div class="container">
    {% for message in app.flashes('success') %}
        <div class="flash-success">
            {{ message }}
        </div>
    {% endfor %}
    <h1>Gestion de compte</h1>
    <div class="container">
        <label for="pseudo">Pseudo : </label>
        <input type="text" id="pseudo" disabled value="{{ app.user.username }}">
        <br>
        <label for="dateOfBirth">Date de naissance : </label>
        <input type="text" id="dateOfBirth" disabled value="{{ app.user.dateNaissance|date('d/m/Y') }}">
        <br>
        <label for="email">E-mail : </label>
        <input type="text" id="email" disabled value="{{ app.user.email }}">
        <br>
        <label for="last_attempt">Dernier essai : </label>
        <input type="text" id="last_attempt" disabled value="{{ app.user.lastAttempt|date('d/m/Y h:m:s') }}">
    </div>
    <div class="container">
        <div class="discord-link">
            {% if not app.user.discordId %}
                <a href="{{ path('user_profile_discord_link') }}">
                    Lier son compte discord
                </a>
                {% else %}
                <div>
                    délier (pa fait)
                </div>
            {% endif %}
        </div>
    </div>
    <div>
        <h4>Changer de mot de passe</h4>
        {{ form_start(formModif) }}
        {{ form_widget(formModif) }}
        {% for message in app.flashes('error') %}
            <div class="flash-error">
                {{ message }}
            </div>
        {% endfor %}
        <button>Modifier mon mot de Passe</button>
        {{ form_end(formModif) }}
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}